%h1 Listing teams

%table
  %thead
    %tr
      %th=t('.university')
      %th=t('.name')
      %th=t('.points')
      %th
      %th
      %th

  %tbody
    - @teams.each do |team|
      %tr
        %td= team.university.name
        %td= team.name
        %td= team.points
        %td= link_to t('.show'), team
        %td= link_to t('.edit'), edit_team_path(team)
        %td= link_to t('.destroy'), team, method: :delete, data: { confirm: t('.confirm') }

%br
