.container-fluid
  .page-header
    %h1=t('.title')

  %table.table.table-hover.table-striped.table-bordered
    %caption=t('.caption')
    %thead
      %tr
        %th=t('.name')
        %th=t('.university')
        %th=t('.points')
        %th
        %th
        %th

    %tbody
      - @teams.each do |team|
        %tr
          %td= team.name
          %td= team.university.name
          %td= team.points
          %td= link_to t('.show'), team
          %td= link_to t('.edit'), edit_team_path(team)
          %td= link_to t('.destroy'), team, method: :delete, data: { confirm: t('.confirm') }

  %br
