/* creates a sidebar with the id mySidebar */
#mySidebar.sidebar
	/* display the logo in the sidebar */
	= image_tag("logo.png", size: "60x60", alt: "logo", :style => "border-radius: 50%;")
	/* adds a close button at the top of the sidebar */
	%a.closebtn{:href => "javascript:void(0)", :onclick => "closeNav()"} &times;
	/* page headers which link to their respective page */
	%a{:href => "/"}= t('.home')
	%a{:href => "/matches"}= t('.fixtures')
	%a{:href => "/teams"}= t('.teams')
	%a{:href => "/universities"}= t('.universities')
	/* header with a div that is hidden untill the text is pressed, uses same js function as home page
	%a{id: "other", onclick: "ToggleText(this)"}= t('.other')
	%div#otherp
		%a{:href => "/about"}= t('.aboutus')
		%a{:href => "/contact"}= t('.contactus')
		/* header with a div that is hidden untill the text is pressed, uses same js function as home page
		%a{id: "accessibility", onclick: "ToggleText(this)"}= t('.accessibility')
		%div#accessibilityp
			%p Font size:
			%input#smallb{onclick: "SetFontSize('80%')", type: "button", value: t('.small')}
			%input#mediumb{onclick: "SetFontSize('100%')", type: "button", value: t('.medium')}
			%input#largeb{onclick: "SetFontSize('110%')", type: "button", value: t('.large')}
		%br
#main
	%header
		%h1=t('.title')
		/* Button calls js function that opens the sidebar */
		%button.openbtn{:onclick => "openNav()"} &#9776

		%nav
			- if user_signed_in?
				= "#{current_user.email} |"
				= link_to t('profile'), edit_user_registration_path
				= '|'
				= link_to t('logout'), destroy_user_session_path, method: 'delete'
			- else
				= link_to t('login'), new_user_session_path
				= '|'
				= link_to t('.sign_up'), new_user_registration_path
