= form_for @player, html: { multipart: true } do |f|
  - if @player.errors.any?
    #error_explanation
      %h2= pluralize(@player.errors.count, "error") + t('.prohibited')
      %ul
        - @player.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :avatar
    = f.file_field :avatar
  .field
    = f.label :team
    %p= @player.team.name
    = f.hidden_field :team_id, value: @player.team.id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :bio
    = f.text_field :bio
  .field
    = f.label :playtime
    = f.text_field :playtime
  .field
    = f.label :kd
    = f.text_field :kd
  .actions
    = f.submit t('.save')
