%p#notice= notice

%p
  %b Team:
  = @player.team.name
%p
  %b Name:
  = @player.name
%p
  %b Bio:
  = @player.bio
%p
  %b Playtime:
  = @player.playtime
%p
  %b Kd:
  = @player.kd

%a.btn.btn-warning{:href => edit_player_path, :role => "button"}=t('.edit')
%a.btn.btn-danger{:href => "javascript:history.back()", :role => "button"}=t('.back')
