%p#notice= notice

%p
  %b Team:
  = @player.team
%p
  %b Name:
  = @player.name
%p
  %b Bio:
  = @player.bio
%p
  %b Playtime:
  = @player.playtime
%p
  %b Kd:
  = @player.kd

= link_to 'Edit', edit_player_path(@player)
\|
= link_to 'Back', players_path
