.container-fluid
  .page-header
    %h1=t('.title')

  %table.table.table-hover.table-striped.table-bordered
    %caption=t('.caption')
    %thead
      %tr
        %th Name
        %th Address
        %th Show
        %th Edit
        %th Destroy

    %tbody
      - @universities.each do |university|
        %tr
          %td= university.name
          %td= university.address
          %td= link_to t('.show'), university
          - if university.user == current_user
            %td= link_to t('.edit'), edit_university_path(university)
            %td= link_to t('.destroy'), university, method: :delete, data: { confirm: 'Are you sure?' }
          - else
            %td N/A
            %td N/A

  %br
  %a.btn.btn-success{:href => new_university_path, :role => "button"}=t('.newuni')
